/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.t_d .desc {
    padding-top: 0;
	}
	.f_th .desc {
    padding-top: 0;
	}
	
	.desc h1 {
    font-size: 27px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	
}

@media only screen and (max-width : 600px) {
	.s_w {
		min-height: 713px;
	}
	.top_h .wrp {
		height: auto;
    
		width: 255px;
    
	}
	
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.slider .icon {
    
    height: 114px;
    
	}
	.f_th .icon, .t_d .icon {
	
    height: 225px;
   
	}
	.owl-nav div {
    top: 30%;}
	.ex .ex_s {
    width: 50%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (max-width : 1200px) and (min-width : 992px){
	.header_top .top_line .t_l {
    width: 150px;
	}
	.header_top .top_line .time {
    float: left;
	}
}